@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --light-gray: hsl(217, 12%, 63%); 
    --medium-gray: hsl(216, 12%, 54%); 
    --dark-blue: hsl(213, 19%, 18%); 
    --dark-blue-lighter-background: hsl(212, 16%, 21%); 
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
}

h1 {
    color: #fff;
}

p  {
    margin: 10px 0 20px 0;
    color: var(--medium-gray);
    line-height: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: var(--dark-blue);
    border-radius: 20px;
}

header {
    margin-bottom: 30px;
}

header > img, 
main form .rating li {
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue-lighter-background);
    border-radius: 50%;
}

header > img {
    padding: 15px;
}

main form .rating li {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

main form .rating {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

main form .rating li label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: var(--medium-gray);
    border-radius: 50%;
}

main form #submit-btn {
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--orange);
    border: none; 
    border-radius: 20px;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked + label {
    background-color: var(--medium-gray);
    color: #fff;
}

/* hover effects */

main form #submit-btn:hover {
    color: var(--orange); 
    background-color: #fff;
}

main form .rating li:hover {
    background-color: var(--orange);
}

main form .rating li:hover label {
    color: #fff;
}

/* utility classes */

.alert {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px auto;
    padding: 5px 15px;
    text-align: center;
    color: var(--orange);
    background-color: var(--dark-blue-lighter-background);
    border-radius: 20px;
}

/* thank you state */

.container > img {
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.container > h1, 
.container > p {
    text-align: center;
}

.container > h1 {
    margin-top: 30px;
}

/* responsive design for smartphones */

@media(max-width: 400px) {
    .container {
        width: 350px;
    }
}